/* comentario*/

h2{
    color: sienna;
}
body{
    background-color: black; color: white;
}

.texto-vermelho{
    color: red;
}

#paragrafo{
    color: sienna;
}

.topo{
    background-color: aqua;
}